# Loop

In [5]:
l=[38, 83, 89,23, 45, 24]

In [2]:
l

[38, 83, 89, 23, 45, 24]

In [3]:
l[2]

89

In [4]:
l[1]

83

# 1. Loop: for

In [ ]:
for <index> in <iterator>:
    print(index)
    print(index)
    print(index)
    print(index)
    print(index)

In [6]:
len(l)

6

In [8]:
range(0, 10)

range(0, 10)

In [10]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [11]:
l

[38, 83, 89, 23, 45, 24]

In [12]:
len(l)

6

In [14]:
for i in range(0,6):
    print(l[i])

38
83
89
23
45
24

In [16]:
for i in range(0, len(l)):
    print(l[i])

38
83
89
23
45
24

# Sum of number in list

In [17]:
l

[38, 83, 89, 23, 45, 24]

In [18]:
sum=0

for i in range(0, len(l)):
    sum= sum +l[i]
    
print(sum)

302

# Print the pattern

In [19]:
    word = "india"
    
    for letter in word:
        print(letter)

i
n
d
i
a

# Multiiplication Table

In [20]:
    n = 1005890
    
    for i in range(1, 11):
        print(f"{n} x {i} = {n*i}")

1005890 x 1 = 1005890
1005890 x 2 = 2011780
1005890 x 3 = 3017670
1005890 x 4 = 4023560
1005890 x 5 = 5029450
1005890 x 6 = 6035340
1005890 x 7 = 7041230
1005890 x 8 = 8047120
1005890 x 9 = 9053010
1005890 x 10 = 10058900

In [21]:
n=5
i=3
print(f"jfskdkas:{n} {i}")

jfskdkas:5 3

# Factorial of number

In [26]:
    result = 1
    n = 5
    
    for i in range(1, n+1):
        result = result * i
        
    print(result)

120

In [27]:
    n = int(input("Enter a number whose factorial we want to find   :"))
    fact = 1
    
    for i in range(1, n+1):
        fact = fact*i
        
    print(fact)

Enter a number whose factorial we want to find   :5
120

In [32]:
n = int(input("Enter a number whose factorial we want to find   :"))
fact = 1
    
for i in range(1, n+1):
        fact = fact * i
        
print(fact)

Enter a number whose factorial we want to find   :10
3628800

# 2. Loop: while

In [ ]:
    while <condition>:
        print()

In [33]:
    n=5
    i=1
    
    while i <= n:
        
        print(" * " * i)
        
        i = i + 1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [38]:
    n=5
    i=n
    
    while i >= 1:
        
        print(" * " * i)
        
        i = i - 1

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [41]:
    n=5
    i=1
    
    while i <= n:
        
        print(" * " * i)
        
        i = i + 1
    
    n=4
    j=n
    
    while j >= 1:
        
        print(" * " * j)
        
        j = j - 1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

# Pattern Print

In [2]:
    string = "PYTHON INDIA"
    index = 0
    
    while index < len(string):
        print(string[index])
        
        index += 1

P
Y
T
H
O
N

I
N
D
I
A

# Print the number n to 1

In [17]:
s=int(input('Enter number= '))
i=1
for i in range(s):
    print(i)

Enter number= 10
0
1
2
3
4
5
6
7
8
9

In [18]:
num=5
while num >= 0:
    print(num)
    num -=1

5
4
3
2
1
0

In [19]:
def test1():
    sum=1+3
    return sum

In [20]:
test1()

4

In [21]:
result=test1()

In [22]:
print(result)

4

In [23]:
type(result)

int

In [24]:
def greet():
    print("Hello")

In [25]:
greet()

Hello

In [26]:
result=greet()

Hello

In [27]:
print(result)

None

In [28]:
type(result)

NoneType

In [29]:
def test3():
    li=[1,2,3]
    return li

In [30]:
result=test3()

In [31]:
print(result)

[1, 2, 3]

In [32]:
len(result)

3

In [35]:
def test5():
    name="Pravin"
    return name

In [36]:
name=test5()

In [37]:
name

'Pravin'

In [38]:
test5() + "Dole"

'PravinDole'

In [39]:
test5() + " Dole"

'Pravin Dole'

In [41]:
def test6():
    return 2, 3, 4

In [43]:
test6()

(2, 3, 4)

In [44]:
def test6():
    return [2, 3, 4]

In [45]:
test6()

[2, 3, 4]

In [47]:
a, b, c =test6()

In [48]:
a

2

In [49]:
b

3

In [50]:
c

4

In [51]:
a,b,c='1',2,3

In [52]:
a

1

In [53]:
b

2

In [54]:
c

3

In [55]:
print(a)
print(b)
print(c)

1
2
3

In [56]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

In [57]:
def test7():
    result= 50/20*6+8-5
    return result

In [59]:
test7()

18.0

In [60]:
50/20*6+8-5

18.0

In [63]:
def test8():
    l=[1,2,3,4,5,6,7,8,9,10]
    sum=0
    for i in l:
        sum +=i
    return sum

In [64]:
test8()

55

In [65]:
1+2+3+4+5+6+7+8+9+10

55

In [66]:
def test9():
    l=[1,2,3,4,5, 'INDIA', 'PUNA', 6,7,8, "AJAY"]
    sum=0
    for i in l:
        sum +=i
    return sum

In [ ]:
6 + 'india'

In [67]:
test9()

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [72]:
def test9():
    l=[1,2,3,4,5, 'INDIA', 'PUNA', 6,7,8, "RANI",9,10]
    sum=0
    for i in l:
        if type(i) == int:
            sum +=i
    return sum

In [73]:
test9()

55

In [74]:
def test10():
    sum=0
    for i in l:
        if type(i)==int:
            sum +=i
    return sum

In [75]:
l=[1,2,3,4,5, 'a', 'b', 6,7,8, "c",'d', 9,10]

In [76]:
test10()

55

In [93]:
def test11(mylist):
    sum=0
    for i in mylist:
        if type(i)==int:
            sum +=i
    return sum

In [94]:
l=[1,2,3,4,5, 'a', 'b', 6,7,8, "c",'d', 9,10]

In [95]:
test11(mylist=l)

55

In [84]:
def two_no_sum(a,b):
    
    sum = a+b
    
    return sum

In [85]:
a=2
b=3

result=two_no_sum(a,b)

In [86]:
result

5

In [92]:
p=5
q=10

result=two_no_sum(p,q)

In [88]:
result

15

In [91]:
two_no_sum(a=p,b=q)

15

In [103]:
test7()

18.0

In [ ]:
function25()

In [97]:
len(l)

14

In [98]:
l

[1, 2, 3, 4, 5, 'a', 'b', 6, 7, 8, 'c', 'd', 9, 10]

In [3]:
def two_no_sum(a,b):
    """
    return the sum of two numbers
    :params: 'a' si first number
    :params: 'b' is second number
    :return: addition of two numbers
    
    """
    
    sum = a+b
    
    return sum

In [4]:
two_no_sum(1,2)

3

In [5]:
    print(two_no_sum.__doc__)

    return the sum of two numbers
    :params: 'a' si first number
    :params: 'b' is second number
    :return: addition of two numbers

In [6]:
l=[1,2,3,4,'a','b','c',5]

In [7]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [8]:
['a', 'b', 'c']

['a', 'b', 'c']

In [9]:
    def test12(mylist):
        
        li = []
        
        for i in mylist:
            
            if type(i) == str:
                
                li.append(i)
                
        return li

In [10]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [11]:
test12(l)

['a', 'b', 'c']

In [42]:
    def test13(mylist):
        """
        This function seperates the integer and str elements from the given list
        :param: list()
        :return: string list, integer list
        """
        
        li_int = []
        li_str = []
        
        for i in mylist:
            
            if type(i) == str:
                li_str.append(i)
                
            if type(i) == int:
                li_int.append(i)
                
        return li_str, li_int

In [43]:
    l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [44]:
 list_str, list_int = test13(l)

In [45]:
list_str

['a', 'b', 'c']

In [46]:
list_int

[1, 2, 3, 4, 5]

In [47]:
    def test13(mylist: list()):
        """
        This function seperates the integer and str elements from the given list
        :param: list()
        :return: string list, integer list
        """
        
        li_int = []
        li_str = []
        
        for i in mylist:
            
            if type(i) == str:
                li_str.append(i)
                
            if type(i) == int:
                li_int.append(i)
                
        return li_str, li_int

In [48]:
test13(list_int)

([], [1, 2, 3, 4, 5])

In [49]:
test13(list_str)

(['a', 'b', 'c'], [])

# 1. Assignment
        1. Function_name should be meaningful
        2. Datatype
        3. Return type
        4. Docstring 
            1. Doscription,
            2. Parameter,
            3. Return
Fri 10 PM

## 1. POST
    1.Linkedln
    2.towardsdatascience.com
##  2. stackoverflow.com